#
# BLDC drivers
#

config IIO_PARROT_BLDC_CYPRESS
	tristate "Parrot BLDC Cypress driver"
	depends on I2C && SYSFS
	select IIO_PARROT_BLDC_CYPRESS_I2C if (I2C)
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  Say yes here to build support for Cypress motor control
	  connected with I2C.

	  To compile this driver as a module, choose M here: the module will be
	  called mpsoc-i2c.

config IIO_PARROT_BLDC_CYPRESS_I2C
	tristate
	depends on IIO_PARROT_BLDC_CYPRESS

