
config AMBALINK_LINKCTRL
        bool "AmbaLink System Control"
        depends on RPMSG
        default y
        help
          A rpmsg server to handle the message between client and server for
          control purpose, such as suspend, resume.

config AMBALINK_SD
        bool "AmbaLink SD Card Control"
        depends on RPMSG
        default n
        help
          AmbaLink SD controller RPMSG host driver.

config AMBALINK_PPM
        tristate "AmbaLink PPM device"
	default n
	help 
	  create /dev/ppm to mmap physical memory 