menu "Smartbattery Parrot drivers"

config PARROT_SMARTBATTERY
	tristate "Parrot Smartbattery driver"
	depends on I2C
	depends on SYSFS

config PARROT_SMARTBATTERY_KTHREAD_PRIO
	int "Smartbattery kthread priority"
	range 1 99
	default 1
	depends on PARROT_SMARTBATTERY

endmenu
